<app-statistic
  [tasksAll] = "getTaskListsSize()"
  [tasksPlanned] = "getTasksAmountByStatus('To do')"
  [tasksOverdue] = "getTasksAmountByStatus('Over Due')"
  [tasksFinished] = "getTasksAmountByStatus('Done')"
></app-statistic>

<app-task-add
  (newTask01) = "addNewTask($event)"
  [vEditThisTaskTA] = "getEditThisTask()"
></app-task-add>

<app-edit-task
  (vCancelET) = "cancelEditTask()"
  (taskAfterEdit) = "saveChanges($event)"

  [vEditThisTaskObjCp] = vEditThisTaskObjCp
  [vEditThisTaskET] = "getEditThisTask()"
></app-edit-task>

<table>
  <tr>
    <th>
      <input type="checkbox" id="scales" (change)="filterTasks($event)" name="scales" checked> Показывать завершенные
    </th>
  </tr>
</table>

<table class="container table">


  <tr class="row thead-light">
    <th class="text-center table-primary">Task name</th>
    <th class="text-center table-primary">Type</th>
    <th class="text-center table-primary">Start date</th>
    <th class="text-center table-primary">End date</th>
    <th class="text-center table-primary">Status</th>
    <th class="text-center table-primary"></th>
  </tr>

  <app-list-row
    (deleteTaskEmitter) = "deleteTaskFromArray($event)"
    (valueChange)= "displayCounter($event)"
    (nameToDelete) = "deleteTask($event)"
    (vEditTask) = "editThisTask($event)"

    [vShowFinished] = "getShowFinished()"
    [result] = showSearchResult (statusSearch) = "onClicked($event)"
    [allTasks1] = allTasks1
  ></app-list-row>

</table>

