
<ng-template [ngIf]="vEditThisTaskET">
  <table class="container table">
    <tr>
      <td>
        <input type="text" (input)="vEditThisTaskObjCp.name=$event.target.value" value="{{ vEditThisTaskObjCp.name }}">
      </td>
      <td>
        <input type="text" (input)="vEditThisTaskObjCp.category=$event.target.value" value="{{ vEditThisTaskObjCp.category }}">
      </td>
      <td name="taskStartD">
        <input type="text" (input)="vEditThisTaskObjCp.dateStart=$event.target.value" value="{{ vEditThisTaskObjCp.dateStart }}">
      </td>
      <td name="taskStartD">
        <input type="text" (input)="vEditThisTaskObjCp.tStatus=$event.target.value" value="{{ vEditThisTaskObjCp.tStatus }}">
      </td>
      <td name="taskStartD">
        <input type="text" (input)="vEditThisTaskObjCp.dateEnd=$event.target.value" value="{{ vEditThisTaskObjCp.dateEnd }}">
      </td>
      <td> <button class="btn btn-success" (click)="saveTask()">Save</button> </td>
      <td> <button class="btn btn-warning" (click)="cancel()">Cancel</button> </td>
    </tr>
  </table>
</ng-template>
